<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        h2{
            font-size: 30px;
            justify-self: center;
        }
        div{
            display: flex;
            flex-direction: column;
            justify-self: center;
            justify-content: center;
            align-items: center;
            width: 60%;
            background-color: rgb(161, 162, 162);
            padding: 30px 0;
            border-radius: 10px;
            border: none;
            box-shadow: 1px 3px 8px rgb(42, 41, 41);
        }
        input{
            margin: 8px 4px;
            height: 18px;
        }
        
        button{
            width: 200px;
            align-self: center;
            height: 30px;
            margin-top: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        form{
            display: flex;
            flex-direction: column;
            justify-self: center;
            width: 40%;
        }
    </style>
</head>
<body>
    <h2>Login</h2>
    <div>
        <form method="POST" action="/user/login">
            <label>Enter Your Email: </label>
            <input type="text" name="email" required placeholder="example123@gmail.com">
            <label>password: </label>
            <input type="text" required name="password" >
            <button>Login</button>
        </form>
        <form method="get" action="/signup">
            <label>Don't have any account</label>
            <button>Signup</button>
        </form>
    </div>
    
</body>
</html>